<header>
 



  <div class="navbar-fixed">
    <nav class="nav-logo">
      <div class="nav-wrapper blue darken-3 ">
        <a href="#!" class="brand-logo"> <img src="/images/austin-logo1.png" alt="Logo" style="height: 56px;"> </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>        
          <li class="cart-icon">
            <a href="/cart">
              <span class="material-icons">add_shopping_cart</span>
          
              <% if (cart && cart.totalQuantity > 0) { %>
                <span class="cart-count "> <%= cart.totalQuantity %></span>
              <% } %>
            </a>
          </li>
          <li><a href="/users/logout">logout</a></li>
        </ul>
      </div>
    </nav>

    </div>
  
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/logout">logout</a></li>
          <li><a href="/register">Register</a></li>
    </ul>
            
  </header>