<header>
  <div class="navbar-fixed">
    <nav class="nav-logo">
      <div class="nav-wrapper blue darken-3 ">
        <a href="#!" class="brand-logo"> <img src="/images/austin-logo1.png" alt="Logo" style="height: 56px;"> </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>        
          <li class="cart-icon">
            <a href="/cart" id="cart-link">
              <span class="material-icons">add_shopping_cart</span>
            
              <span
                id="cart-count"
                class="cart-count"
                style="<%= cart?.totalQuantity > 0 ? '' : 'display:none' %>"
              >
                <%= cart?.totalQuantity || 0 %>
              </span>
            </a>
            
          </li>
          <li><a href="/users/logout">logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/logout">logout</a></li>
          <li><a href="/register">Register</a></li>
    </ul>
            
</header>