 <div class="container">
<form  action="/auth/login" method="POST">
    <h2>Login</h2>
                    <!-- Flash Messages -->
                    <% if (error && error.length > 0) { %>
                        <div class="card-panel red lighten-2 white-text center-align">
                            <%= error[0] %>
                        </div>
                    <% } %>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>
   
</form><br><br>
<a href="/auth/google">Login Google</a><br><br>
<a href="/auth/github">Login github</a>
</div>
