

<form class="container" action="/users/register" method="POST">
    <h2>Register</h2>

    <label>Name</label>
    <input type="text" name="name" required><br>

    <label>Age</label>
    <input type="number" name="age" min="1" required><br>
    <% if (error && error.length > 0) { %>
        <div class="red-text">
            <%= error[0] %>
        </div>
    <% } %>
    <label>Email</label>
    <input type="email" name="email" required><br>

    <label>Password</label>
    <input type="password" name="password" required><br>

    <button type="submit">Create Account</button>
</form>
